<app-hero-parent></app-hero-parent>
<h2>----------------------------------------------Set Get-----------------------------------------------</h2>
<app-name-parent></app-name-parent>
<h2>-------------------------------------------ngOnChanges()--------------------------------------------</h2>
<app-version-parent></app-version-parent>
<h2>-----------------------------------------Vote, EventEmitter----------------------------------------</h2>
<app-vote-taker></app-vote-taker>
<h2>-----------------------------------------CountDown Timer----------------------------------------</h2>
<app-countdown-parent-lv></app-countdown-parent-lv>
<h2>-----------------------------------------Mission Control----------------------------------------</h2>
<app-missioncontrol></app-missioncontrol>
